.contacts {
    padding: 70px 0;
    text-align: center;

    &__title {
        font-weight: bold;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
        margin-bottom: 50px;
    }

    &__overlay {
        display: block;
        margin: 50px auto;
    }

    &__title_paragraf {
        font-size: 23px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
        margin-bottom: 20px;
    }

    &__text {
        font-size: 14px;
        margin-bottom: 10px;
    }
}