.page_header {
  border-bottom: 1px solid #ececec;
}

.container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0 15px;
  min-width: 320px;
  max-width: 1170px;
}

.contact {
  margin-left: auto;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }

  &__item:not(:last-child) {
    @media screen and (max-width: 1199px) {
      margin-bottom: 10px;
    }

    @media screen and (min-width: 1200px) {
      margin-right: 50px;
    }
  }

  &__text {
    margin-left: 5px;
  }

  &__link_mail {
    color: #757575;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;

    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: #2196f3;
    }

  }

  &__icon_mail {
    display: block;
    width: 16px;
    height: 12px;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-image:
      url("../public/envelope.svg");
  }


  &__link_phone {
    color: #757575;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;

    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: #2196f3;
    }
  }

  &__icon_phone {
    display: block;
    width: 10px;
    height: 16px;
    margin-right: 3px;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-image:
      url("../public/smartphone.svg");
  }

  &__link_mail:hover>&__icon_mail,
  &__link_mail:focus>&__icon_mail {
    background-image:
      url("../public/envelope_hover.svg")
  }

  &__link_phone:hover>&__icon_phone,
  &__link_phone:focus>&__icon_phone {
    background-image:
      url("../public/smartphone_hover.svg")
  }
}


.nav {
  display: flex;
  align-items: center;
  margin-left: 55px;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 1000px) {
    margin-left: 93px;
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__item:not(:first-child) {
    margin-left: 50px;
  }

  &__link {
    display: block;
    padding: 32px 0px;

    color: #212121;

    font-weight: 500;
    font-size: 21px;
    line-height: 1.15;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: #2196f3;
    }
  }
}

.nav_active_link {
  display: block;
  padding: 32px 0px;

  font-weight: 500;
  font-size: 21px;
  line-height: 1.15;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  color: #2196f3;

  &::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -3px;

    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
  }
}

.style {
  display: flex;
  align-items: center;
  width: 100%;
}

.menu_toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: auto;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  fill: #212121;
}

.menu_toggle:hover,
.menu_toggle:focus {
  fill: #2196f3;
}

.menu_container {
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: #ffffff;
  z-index: 997;
  transform: translateX(0);
  transition: transform 250ms ease-in-out;
}

.isClose {
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: #ffffff;
  z-index: 997;
  transform: translateX(-100%);
  transition: transform 250ms ease-in-out;
}

.button_close {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: auto;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  fill: #212121;
  position: absolute;
  top: 16px;
  right: 20px;
}

.mobile_menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  height: 100%;

  &__item:not(:last-child) {
    margin-bottom: 32px;
  }

  &__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color: #212121;

    &:focus,
    &:hover {
      color: #2196f3;
    }
  }

  &__contact_link {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.172;
    letter-spacing: 0.02em;
    color: #757575;

    &:hover,
    &:focus {
      font-size: 34px;
      color: #2196f3;
    }
  }

  &__contact {
    margin-bottom: 64px;
  }

  &__social_list {
    display: inline-flex;
    align-items: center;
  }

  &__social_item:not(:last-child) {
    margin-right: 20px;
  }
}

.mobile_link_active {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile_menu__social_link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #757575;

  &__line {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #757575;
  }

  &__line::after {
    content: "";
    width: 22px;
    height: 0;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
    margin-left: 10px;
  }
}