.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1200;
}


.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: white;

  @media screen and (min-width: 1200px) {
    padding: 30px 40px;
  }

  &__title {
    font-weight: bold;
    color: #000;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
   /*  margin: 10px 0; */
    text-align: center;
  }
}

@media screen and (min-width: 700px) {
  .modal {
    width: 35vw;
    max-height: 95vh;

  }
}

.button {
  margin-left: 90px;
}