.projects {
  padding: 60px 0;

  &__title {
    display: none;
  }

  &__list {
    width: 100%;
    margin: 0 auto;
    justify-content: flex-start;
  }

  &__item {
    width: 100%;
    max-width: 450px;
    margin: auto;
    position: relative;

    display: block;
    width: 100%;
    height: 100%;
    background: white;
    text-decoration: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    &:hover .projects__overlay,
    &:focus .projects__overlay {
      transform: translateY(0);
      opacity: 1;
    }


    &:not(:last-child) {
      @media screen and (max-width: 767px) {
        margin-bottom: 30px;
      }
    }
  }


  &__describing {
    padding: 20px 24px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-top: none;
    text-align: center;

    @media screen and (min-width: 768px) {
      flex-grow: 1;
      text-align: start;
    }

    @media screen and (max-width: 1200px) {
      flex-grow: 1;
    }
  }

  &__thumb {
    position: relative;
    overflow: hidden;
  }

  &__name {
    color: black;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    margin-bottom: 4px;
  }

  &__type {
    color: #757575;

    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    text-decoration: none;
  }

  &__overlay {
    position: absolute;
    left: 0;
    top: 0;

    display: block;
    padding: 63px 24px;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);
    opacity: 0;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__info {
    color: white;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
  }
}

.projects_menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  margin-bottom: 12px;


  &__item {
    margin: 0 0 12px;
  }
}

@media screen and (min-width: 768px) {

  .projects_menu {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;

    &__item {
      margin: 0 8px 15px 0;
    }

  }

  .projects {


    &__list {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
    }

    &__item {
      margin: 15px;
      width: calc((100% - 4 * 15px) / 2);
    }
  }
}

@media screen and (min-width: 1200px) {


  .projects {
    padding: 70px 0;


    &__item {
      margin: 15px 0 0 15px;
      width: calc((100% - 6 * 15px) / 3);

      &:not(:nth-last-child(-n + 3)) {
        margin-bottom: 15px;
      }

      &:not(:nth-child(3n)) {
        margin-right: 15px;
      }
    }
  }
}